@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.heading6 {
  @apply text-primary-30 font-semibold leading-6 text-sm md:text-base;
};

.checkmark {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 1s ease-in-out forwards;
}

@keyframes draw {
  from {
      stroke-dashoffset: 100;
  }
  to {
      stroke-dashoffset: 0;
  }
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


/* Add this in your global stylesheet like styles.css or tailwind.config.css if using plugins */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind's gray-400 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}
